[Unit]
Description=Audio BOT
After=network.target

[Service]
Type=idle
Restart=always
User=alena
ExecStart=/bin/bash -c 'cd /home/alena/deals_bot/ && source /home/alena/deals_bot/venv/bin/activate && python3 /home/alena/deals_bot/main_deals_bot.py'

[Install]
WantedBy=multi-user.target
